<% provide :title, "Lists and collections" %>
<% provide :site_section, "0" %>

<h1><%= @title %></h1>

<%= will_paginate %>

<ul class="collection">
<%= render @collections %>
</ul>

<%= will_paginate %>