<% provide :title, "Lists and collections" %>
<% provide :site_section, "0" %>

<div class="content">
<h1><%= @title %></h1>
</div>

<div class="content content-mini">
	<%= will_paginate %>
</div>

<div class="content">
	<ul class="collection">
		<%= render @collections %>
	</ul>
</div>

<div class="content content-mini">
	<%= will_paginate %>
</div>