<li>
	<h2><%= link_to genre.name, genre %></h2>
	<% if signed_in? && current_user.admin? %>
		<%= link_to "delete", genre, method: :delete,
				data: { confirm: "You sure?" } %>
	<% end %>
	<% if genre.items.any? %>
		<ul class="collection-items">
			<% genre.items.shuffle[0..6].each do |item| %>
				<%= render 'items/item_preview', item: item %>
			<% end %>
		</ul>
	<% else %>
	No items tagged with this genre.
	<% end %>
</li>