<% provide(:title, "Browse genres") %>
<% provide :site_section, "0" %>

<div class="content">
	<h1>Browse genres</h1>
</div>

<div class="content">
	<% if @genres.any? %>

			<ul class="items">
				<%= render @genres %>
			</ul>

	<% else %>
		<p>No genres found.</p>
	<% end %>
</div>