<div class="row">
	<div class="col-md-4">
		<h3>Library</h3>
		<p>CUSFS has a huge library of science fiction and fantasy books, DVDs and games, all free to borrow for members. <%= link_to "Read more...", library_path %></p>
		<!-- TODO can we get a photo or something to go here? and for the other two sections too -->
	</div>
	<div class="col-md-4">
		<h3>Creative</h3>
		<p>Creative writing, art and crafts created by our members. We have a magazine, <%= link_to "TTBA", ttba_path %>, which is published electronically every term or so. <%= link_to "Read more...", creative_path %></p>
	</div>
	<div class="col-md-4">
		<h3>Schedule</h3>
		<p>CUSFS holds events throughout the term, from discussion groups to film screenings to society dinners. <%= link_to "Read more...", schedule_path %></p>
	</div>
</div>