<% provide :title, 'About' %>

<h1>About</h1>

<p>This is the website of the Cambridge University Science Fiction Society. We used to be hosted on the SRCF but for technical reasons can now be found at cusfs-library.herokuapp.com. This site was created by Sarah Binney.
<br>
<h2>What we do</h2>

The only constant on the CUSFS calendar is the weekly discussion meeting. These meetings are all on a particular topic, broad enough that everyone can contribute, regardless of what they have or haven't read. They meander around, flirt with the topic at hand, then usually veer off a cliff. Nonetheless, they are lots of fun and are definitely the place to go for actual, concerted discussion of science fiction and fantasy. In addition to these, we do lots of other things, largely as the mood strikes us: film nights, pub meets, picnic lunches, the occasional all-night US election party, and so forth. There is also an end-of-term games evening and an annual dinner. We also have a library. The box in the top-right corner will, hopefully, keep you appraised of the current goings-on.<br>

We like to think we're not very scary. Feel free to come along to exactly as many events as you think you're interested in - we don't mind if you've never been before and decide to show up in the middle of the year, and we certainly don't mind if you're not an official member. If you have any interest at all in SFF, you'll certainly find something to interest you!
<h2>History</h2>

The Cambridge University Science Fiction Society (CUSFS - pronounced "cuss-fuss") was established in 1963 with the goal of creating a consolidated library of books and magazines. Since then, the society has developed into a catch-all for things related to science fiction, fantasy, and other genres - like alternate history - which bear a spiritual relationship to SFF. If it is in any way relevant, we have probably discussed it, at some point or another.<br>

That 'fantasy' in the last paragraph bears a little explanation. Despite the official name, we are very much the science fiction and fantasy society, but this is a more recent development. At some point - perhaps in 1974, or thereabouts - several members of CUSFS, in protest to what they saw as politicisation of the society (it being, at that time, involved in some sort of CUSU related campaign), formed J贸msborg the New, a separate society which developed into the de facto fantasy society. Some twenty years later, the radical elements of CUSFS having died down, the two societies noticed they had virtually identical member lists and merged.<br>

What does this mean in practice? Nothing, really. CUSFS is the overarching organisational structure; within it, J贸msborg retains a nominal independence. It has its own, largely ceremonial committee; occasional meetings of the society are designated J贸msmeetings, with a fantasy-themed topic and the consumption of mead; and there are a couple of traditional J贸msborg annual events. But in the grand scheme of things, CUSFS is a single society with a unified membership - if, admittedly, a membership that isn't quite willing to dispense with past traditions.<br>

<ul class="committee">
The Committee for 2014-2015 is:

<li><b>Chairbeing:</b> Danielle Saunders (ds636)</li>
<li><b>Secretary:</b> Sarah Binney (sb913)</li>
<li><b>Librarian:</b> Lizzie Colwill (ec504)</li>
<li><b>Junior Treasurer:</b> Rory Hennell James (rh570)</li>
<li><b>Membership Secretary:</b> Catherine Gray (cg508)</li>
<li><b>TTBA Editor:</b> Isobel Sands (is361)</li>
</ul>

Contact the committee <a href='http://cusfs.soc.srcf.net/committee'>here</a>!</p>
