<% provide :title, 'About' %>

<h1>About</h1>

<p>This is the website of the Cambridge University Science Fiction Society. We used to be hosted on the SRCF but for technical reasons can now be found at cusfs-library.herokuapp.com. This site was created by Sarah Binney.
<br>
The Committee for 2014-2015 is:<br>
Chairbeing: Danielle Saunders<br>
Secretary: Sarah Binney<br>
Librarian: Lizzie Colwill<br>
Junior Treasurer: Rory Hennell James<br>
Membership Secretary: Catherine Gray<br>
TTBA Editor: Isobel Sands<br>

Contact the committee <a href='http://cusfs.soc.srcf.net/committee'>here</a>!</p>
