<% provide :title, "Committee" %>
<% provide :site_section, "3" %>

<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">Committee</div>
  <div class="panel-body">
    <p>The CUSFS Committee for 2014-2015 is:</p>
  </div>

  <!-- Table -->
  <table class="table">
	<tr><td class="committee-position">Chairbeing:</td><td>Danielle Saunders (ds636)</td></tr>
	<tr><td class="committee-position">Secretary:</td><td>Sarah Binney (sb913)</td></tr>
	<tr><td class="committee-position">Librarian:</td><td>Lizzie Colwill (ec504)</td></tr>
	<tr><td class="committee-position">Junior Treasurer:</td><td>Rory Hennell James (rh570)</td></tr>
	<tr><td class="committee-position">Membership Secretary:</td><td>Catherine Gray (cg508)</td></tr>
	<tr><td class="committee-position">TTBA Editor:</td><td>Isobel Sands (is361)</td></tr>
  </table>
	Contact the committee as a whole at <%= link_to "soc-cusfs [at] lists dot cam [dot] ac [dot] uk", "soc-cusfs@lists.cam.ac.uk" %>.</p>
</div>


<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">Committee</div>
  <div class="panel-body">
    <p>The Reeve of Jomsborg and their companions for 2014-2015 are:</p>
  </div>

  <!-- Table -->
  <table class="table">
  <tr><td class="committee-position">Reeve:</td><td>Margaret Young (mry25)</td></tr>
  <tr><td class="committee-position">Runecaster:</td><td>Curtis Reubens (cr507)</td></tr>
  <tr><td class="committee-position">Geldjarl:</td><td>Rory Hennell James (rh570)</td></tr>
  <tr><td class="committee-position">Meadkeeper:</td><td>Lizzie Colwill (ec504)</td></tr>
  <tr><td class="committee-position">Bard:</td><td>Lilian Halstead (lah64)</td></tr>
  </table>
</div>
