<% provide :title, "Committee" %>
<% provide :site_section, "3" %>

<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">Committee</div>
  <div class="panel-body">
    <p>The CUSFS Committee for 2014-2015 is:</p>
  </div>

  <!-- Table -->
  <table class="table">
	<tr><td>Chairbeing:</td><td>Danielle Saunders (ds636)</td></tr>
	<tr><td>Secretary:</td><td>Sarah Binney (sb913)</td></tr>
	<tr><td>Librarian:</td><td>Lizzie Colwill (ec504)</td></tr>
	<tr><td>Junior Treasurer:</td><td>Rory Hennell James (rh570)</td></tr>
	<tr><td>Membership Secretary:</td><td>Catherine Gray (cg508)</td></tr>
	<tr><td>TTBA Editor:</td><td>Isobel Sands (is361)</td></tr>
  </table>
	Contact the committee <a href='http://cusfs.soc.srcf.net/committee'>here</a>!</p>
</div>

The Jomscommittee to follow.