<% provide :title, 'Help' %>

<h1>Help</h1>
<p>If you're looking at this page the site's probably broken. Ha, ha. If you're logged in as an admin, display admin help; otherwise display normal help plus "how to get upgraded to admin status".</p>
