<% provide :title, 'History' %>
<% provide :site_section, '3' %>

<h1>CUSFS History and Traditions</h1>

<h2>History</h2>
<p>
The Cambridge University Science Fiction Society (CUSFS - pronounced "cuss-fuss") was established in 1963 with the goal of creating a consolidated library of books and magazines. Since then, the society has developed into a catch-all for things related to science fiction, fantasy, and other genres - like alternate history - which bear a spiritual relationship to SFF. If it is in any way relevant, we have probably discussed it, at some point or another.<br>

That 'fantasy' in the last paragraph bears a little explanation. Despite the official name, we are very much the science fiction and fantasy society, but this is a more recent development. At some point - perhaps in 1974, or thereabouts - several members of CUSFS, in protest to what they saw as politicisation of the society (it being, at that time, involved in some sort of CUSU related campaign), formed J贸msborg the New, a separate society which developed into the de facto fantasy society. Some twenty years later, the radical elements of CUSFS having died down, the two societies noticed they had virtually identical member lists and merged.<br>

What does this mean in practice? Nothing, really. CUSFS is the overarching organisational structure; within it, J贸msborg retains a nominal independence. It has its own, largely ceremonial committee; occasional meetings of the society are designated J贸msmeetings, with a fantasy-themed topic and the consumption of mead; and there are a couple of traditional J贸msborg annual events. But in the grand scheme of things, CUSFS is a single society with a unified membership - if, admittedly, a membership that isn't quite willing to dispense with past traditions.<br>
</p>
<h2>Traditions</h2>
<h3 id="Veizla">The Veizla</h3>
<p>We have an annual end-of-year dinner called the Veizla, usually in May Week. We have yet to sort out a date for the 2015 Veizla, so watch this space!</p>

<h3>The Scarves</h3>
<p>The essential (and, usually, sole) part of the CUSFS stash is our twelve-foot-long bright orange scarf, affentionately known as a Soul. This has a rich and fascinating history which will be added when the Secretary feels the need to procrastinate.</p>
