<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= @user.name %> has requested <%= @title %>.</h1>

    <p>Further details:</p>

    <i><%= @notes %></i>

    <p>You can get in touch to coordinate handover at <%= @user.email %>.</p>

    <p>Yours stupendously,<br>
    The Secretary</p>
  </body>
</html>