<li><%= link_to withdrawal.item.pretty_name, withdrawal.item %>: withdrawn since <%= withdrawal.created_at.to_s(:short) %>
	<% if signed_in? && current_user.admin? %>
		<%= link_to "Return to Library", withdrawal, method: :delete,
			data: { confirm: "You sure?" } %>
	<% end %>
</li>