<span>
	<li>
<%= link_to user.name, user %><br>
<%= "Golden shiny sticker saying THIS USER IS ON THE COMMITTEE!" if user.admin %><br>
TODO other stats too? eg how many books they've withdrawn, how many reviews they've posted?
</li>
</span>