<div class="form-group">
	<%= f.link_to_remove "Remove", class: "col-sm-2 control-label field-link" %>
	<div class="col-sm-4">
		<%= f.collection_select :user_id, User.all, :id, :name, {}, {class: "user_id"} %>
	</div>
	<div class="col-sm-4">
		<%= f.collection_select :item_id, Item.all, :id, :title, {}, {class: "item-select"} %>
	</div>
	<div class="col-sm-2">
		<%= f.text_field :edition, class: "form-control" %>
	</div>
</div>