<% provide(:title, "#{@user.name}'s reviews") %>
<% provide :site_section, '0' %>

<div class="content">
	<h1><%= @user.name %>'s reviews </h1>
</div>

<div class="content">
	<%= render 'reviews/reviews', reviews: @reviews %>
</div>

<div class="content">
	<%= link_to "< Back to profile", @user %>
</div>