<% provide(:title, "#{@user.name}'s withdrawals") %>
<% provide :site_section, '0' %>
<h1><%= @user.name %>'s withdrawals </h1>

<%= render 'withdrawals', withdrawals: @withdrawals %>

<%= link_to "< Back to profile", @user %>