<% provide(:title, "Requests") %>
<% provide :site_section, "0" %>

<div class="content">
	<h1>Pending requests</h1>
</div>

<% if @requests.any? %>

	<div class="content content-mini">
		<%= will_paginate %>
	</div>

	<div class="content">
		<ul class="requests">
			<%= render @requests %>
		</ul>
	</div>

	<div class="content content-mini">
		<%= will_paginate %>
	</div>

<% else %>

	<div class="content">
		<p>Nothing found.</p>
	</div>

<% end %>