<% provide :title, "Committee" %>
<% provide :site_section, "3" %>

<div class="content content-mini">
	<%= will_paginate @committees %>
</div>

<div class="content">
	<% if @committees.any? %>
	  <% @committees.each do |committee| %>

	    <%= render 'cusfs_committee', committee: committee %>

	    <%= render 'jomscommittee', committee: committee %>

	    <%= render 'vice_presidents', committee: committee %>  

	  <% end %>

	<% else %>
	No committees found.
	<% end %>
</div>

