<% provide :title, "Committee" %>
<% provide :site_section, "3" %>

<div class="panel panel-default">
  <%= will_paginate @committees %>
</div>

<% if @committees.any? %>
  <% @committees.each do |committee| %>

    <%= render 'cusfs_committee', committee: committee %>

    <%= render 'jomscommittee', committee: committee %>

    <%= render 'vice_presidents', committee: committee %>  

  <% end %>

<% else %>
No committees found.
<% end %>