/* This stylesheet should never be used. Why is this stylesheet necessary? It has cost me hours of my life and inches of my fingernails, not to mention the number of hairs torn out in unvoiced anguish that ANYBODY could be stupid or incompetent enough to, in the Year of Our Flying Spaghetti Monster 2015, provide a computer with Internet Explorer <9. */

body {
	background-color: white !important;
}

.metacontainer, .metacontainer-0, .metacontainer-1, .metacontainer-2 {
	background-color: white;
}

.cusfs-body, .content {
  background-color: white;
}