
/* Index */

.items {
  display: inline-block;
  width: 100%;
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:last-child {
      border-bottom: 1px solid $grayLighter;
    }
  }
}

.item-preview {
  width: 100%;
  .title {
    font-size: 20px;
    a {
      color: $darkBlue;
    }

  }
}

.item-name {
  font-weight: 600;
}

.item-author-name {
  color: #00f;
  font-weight: 600;
  background-color: #f0f;
  a {
    color: #0f0;
    background-color: #0ff;
  }
}

.item-preview-body {
  float: left;
}

.item-cover-preview {
  float: right;
}

/* show */

.item-show-sidebar {
	float: right;
}

.recommendedtrue {
  width: 5px;
  height: 100%;
  background-color: $lightOrange;
}