@import "typography.css.scss";

/* Header */

.cusfs-logo-main {
  z-index: 999;
  position: absolute;
  float: right;
  width: 100%;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.cusfs-logo {
  pointer-events: auto;
}

.cusfs-uppermost-navbar {
	padding-bottom: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.cusfs-main-menu {
  border-top: solid 1px #fff;
	text-transform: uppercase;
	font-family: $serifFont;
	font-size: 32px;
	letter-spacing: 4px;
  background-color: black;
  padding-top: 40px;
  padding-bottom: 40px;
  margin-bottom: 0px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  .nav > li > a {
    font-family: $serifFont;
    &:hover {
      text-decoration:none;
    }
  }

  .nav > li > .great-orange-site-section {
    color: $lightOrange;
    &:hover {
      color: $paleOrange;
    }
  }

}

.great-orange-site-section {
	font-size: 64px;
}

.cusfs-library-navbar {
  margin-bottom: 50px;
	background-color: $lightOrange;
  font-family: $sansBoldFont;
  color: black;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none; 
  .nav > li > a, .nav > li > a .caret {
    color: $darkBlue;
  }
}

footer {
  float: bottom;
  margin-top: 45px;
  text-transform: uppercase;
  font-family: $serifFont;
  letter-spacing: 3px;
  padding-top: 5px;
  border-top: 1px solid $darkBlue;
  color: $darkBlue;
  a {
    color: $darkBlue;
    &:hover {
      color: $lighterBlue;
      text-decoration: none;
    }
  }
  .footer-title {
    float: left;
    font-family: $serifFont;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}