<%= render 'layouts/cusfs_logo' %>

<header class="navbar navbar-inverse">
  <div class="navbar-inner cusfs-uppermost-navbar">
    <%= render 'layouts/upperright_menu' %>
  </div>
  <div class="cusfs-main-menu">
    <%= render 'layouts/main_menu' %>
  </div>
  <div class="cusfs-library-navbar">
    <%= render 'layouts/library_navbar'%>
  </div>
</header>