<div class="container-fluid">
<ul class="nav pull-right cusfs-library-navbar">
	<li><%= link_to "Browse titles", items_path %></li>
	<li><%= link_to "Lists", series_index_path %></li>
	<li><%= link_to "Reviews", '#' %></li>
	<li><%= render 'layouts/nav_search' %></li>
</ul>
</div>