<div class="container-fluid">
<ul class="nav pull-right">
	<li><%= link_to "Library", root_path, class: "great-orange-site-section" %></li>
	<li><%= link_to "Creative", '#', class: "minor-white-site-section" %></li>
	<li><%= link_to "Schedule", '#', class: "minor-white-site-section" %></li>
</ul>
</div>